<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.}}</title>
</head>
<body>

<p> {{.}}</p>
<ul>
<li><a href="/">home</a></li>
<li><a href="/me">me</a></li>
<li><a href="/dog">dog</a></li>
</ul>

</body>
</html>
